.banner-container{
    background-image: linear-gradient(to bottom, #f72d57, #fcfcfc);
    height: 750px;

}
.banner{
    display: flex;
    justify-content: space-between;
    z-index: 10;
    /* padding: 50px 10px; */
    width: 100vw;
    max-width: 1280px;
    /* border: 2px solid black; */
    margin-top: 60px;
}
.mega-banner{
    padding: 30px 10px 150px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: 10;
    background-color: white;
    /* width: 100vw; */
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid black; */

}
.banner-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
}
.banner-text{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #3F3F3F;
    margin: 20px 0;
}

.banner-img{
    width: 600px;
    z-index: 10;
}

.banner-img2{
    position: absolute;
    top: 270px;
    width: 500px;
    z-index: 0;
    /* border: 2px solid black; */
}

.banner-img-container{
    display: flex;
    flex-direction: column; 
    justify-content: end
}

@media screen and (max-width: 1024px) {
    .banner{
       flex-direction: column; 
       justify-content: center;
       align-items: center;
    }
    .banner-container{
        height: 900px;
    }
    .banner-img2{
        top: 350px;
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .banner-title{
        font-size: 28px;
        font-weight: 500;
        line-height: 28px;
        padding: 0 8px;
    }
    .banner-text{
        font-size: 10px;
        font-weight: 300;
        line-height: 18px;
        margin: 20px 0;
        padding: 0 8px;
    }
    .banner-img{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .banner-img2{
        top: 200px;
        width: 80%;
    }
    .mega-banner{
        padding: 0;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        /* width: 120%; */
    }
    .banner-container{
        height: 400px;
    }
}